DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=insurance_pool

STELLAR_RPC_URL=https://soroban-testnet.stellar.org
POOL_MANAGER_ID=
CLAIMS_ENGINE_ID=
INDEXER_POLL_MS=5000

PINATA_API_KEY=
PINATA_SECRET_KEY=

PORT=3001
